body {
  color: #5b616b;
  font-size: 15px;
  line-height: 1.7em/26px;
}
.address-form {
  text-align: center;
}
.address-label,
.address-detail {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  background: #f9f9f9;
  border: 2px solid #9a9a9a;
  font-size: 1.25em;
  padding: 5px;
  text-shadow: none;
}
input[type="submit"] {
  background: #e9e9e9;
  border: 2px solid #e9e9e9;
  color: #777;
  font-size: 1.25em;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
}
.officials {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  padding: 10px;
}
.official {
  color: #444;
  display: flex;
  padding: 15px;
}
.official-details {
  display: flex;
  flex-flow: column;
}
.official-detail {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.official-photo {
  border-radius: 50%;
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-right: 10px;
  min-width: 75px;
  overflow: hidden;
}
.official-image {
  max-width: 100%;
}
.official-name {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3em/25px;
}
.official-position {

}
.official-level {
  display: none;
}
.official-party {

}
