.officials {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  padding: 10px;
}
.official {
  color: #444;
  display: flex;
  border-bottom: 1px dashed #9A9A9A;
  padding-bottom: 0.6em;
  margin-bottom: 1.6em;
  vertical-align: top;
}
.official-details {
  display: flex;
  flex-flow: column;
}
.official-detail {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.official-photo {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  min-width: 40px;
}
.official-name {
  font-size: 0.9em;
}
.official-position {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.official-level {
  display: none;
}
.official-party {
  font-size: 0.8em;
}
.Republican-label {
  color: red;
}
.Democratic-label {
  color: blue;
}
.nonpartisan-label {
  color: #333;
}